rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Fungsi bantuan untuk mengecek apakah user login sebagai Admin
    function isAdmin() {
      return request.auth != null;
    }

    // Koleksi "devices"
    // Tapi hanya Admin yang bisa melihat list (list), menyetujui (update), atau menghapus (delete).
    match /devices/{deviceId} {
      allow get: if true;
      allow list, update, delete: if isAdmin();
      allow create: if true;
    }

    // Koleksi "events"
    // Kios absensi butuh membaca event mana yang aktif (read).
    // Hanya Admin yang bisa menambah/menutup event (write).
    match /events/{eventId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Koleksi "teachers"
    // Kios butuh meload data guru untuk absen (read).
    // Hanya Admin yang bisa menambah, mengubah, atau menghapus guru (write).
    match /teachers/{teacherId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Koleksi "attendances"
    // Kios butuh membaca agar status ter-update (read).
    // Kios hanya bisa membuat rekaman kehadiran (create) jika deviceUuid-nya terdaftar & disetujui, atau jika Admin.
    // Hanya Admin yang bisa mengubah (misal mengubah izin/sakit) atau menghapus (update, delete).
    match /attendances/{attendanceId} {
      allow read: if true;
      allow create: if isAdmin() || (
        request.resource.data.keys().hasAll(['deviceUuid']) &&
        get(/databases/$(database)/documents/devices/$(request.resource.data.deviceUuid)).data.approved == true
      );
      allow update, delete: if isAdmin();
    }

    // Koleksi "settings", dokumen "app"
    // Kios membaca versi aplikasi (read). Hanya Admin (atau CLI Release Tool) yang mengubah (write).
    match /settings/app {
      allow read: if true;
      allow write: if isAdmin();
    }
    
  }
}
